.flexing{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.texting{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.flexer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;

}
.pad-left{
  padding-right: 15px;
}
.pad-left-less{
  padding-right: 8px;
}
.wrap{
  word-wrap: break-word;
}

.heading-changer{
  margin-top: 25px;
}
.extra{
  margin-bottom: 30px;
}

.bottompod{
  margin-bottom: 30px;
}